{% extends 'base.html' %}

{% block title %}Knihy: {{ zanr }}{% endblock %}

{% block content %}
    <h2>Žánr: {{ zanr }}</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Autoři</th>
                <th>Titul</th>
                <th>Rok vydání</th>
                <th>Obsah</th>
            </tr>
        </thead>
        <tbody>
            {% for kniha in knihy %}
            <tr>
                <td>
                    {% for autor in kniha.autori.all %}
                        {{ autor.jmeno|slice:":3" }}. {{ autor.prijmeni }},
                    {% endfor %}
                </td>
                <td>{{ kniha.titul.upper }}</td>
                <td>{{ kniha.rok_vydani }}</td>
                <td>{{ kniha.obsah|truncatewords:10 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
